<main>
  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <%= link_to root_path, class: "logo d-flex align-items-center w-auto" do %>
                <%= image_tag "logo.png", alt: "" %>
                <span class="d-none d-lg-block">NiceAdmin</span>
              <% end %>
            </div><!-- End Logo -->

            <div class="card mb-3">
              <div class="card-body">
                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  <p class="text-center small">Enter your username & password to login</p>
                </div>

                <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "row g-3 needs-validation" }) do |f| %>
                  <div class="col-12">
                    <%= f.label :email, class: "form-label" %>
                    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
                  </div>

                  <div class="col-12">
                    <%= f.label :password, class: "form-label" %>
                    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", required: true %>
                  </div>

                  <div class="col-12">
                    <% if devise_mapping.rememberable? %>
                      <div class="form-check">
                        <%= f.check_box :remember_me, class: "form-check-input" %>
                        <%= f.label :remember_me, class: "form-check-label" %>
                      </div>
                    <% end %>
                  </div>

                  <div class="col-12">
                    <%= f.submit "Log in", class: "btn btn-primary w-100" %>
                  </div>
                <% end %>

                <div class="col-12">
                  <p class="small mb-0">Don't have an account? <%= link_to "Create an account", new_registration_path(resource_name) %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </section>

  </div>
</main>